[Match]
Name=ens19

[Network]
DHCP=yes

[DHCPv4]
UseRoutes=no
UseGateway=no

[DHCPv6]
UseRoutes=np
UseGateway=no

[RoutingPolicyRule]
Priority=100
From=192.168.150.0/29
Table=2

[RoutingPolicyRule]
Priority=100
To=192.168.150.0/29
Table=2

[Route]
Destination=192.168.150.0/29
Gateway=192.168.150.1
Table=2

[Route]
Destination=0.0.0.0/0
Gateway=192.168.150.1
Table=2

[RoutingPolicyRule]
Priority=100
From=172.24.0.0/16
Table=2

[RoutingPolicyRule]
Priority=100
From=fd00:150::/64
Table=2

[RoutingPolicyRule]
Priority=100
To=fd00:150::/64
Table=2

[Route]
Destination=fd00:150::/64
Gateway=fd00:150::1
Table=2

[Route]
Destination=::/0
Gateway=fd00:150::1
Table=2

[RoutingPolicyRule]
Priority=100
From=fd00:172:24::/64
Table=2